<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-12">
                <h1>Here are all of the listings</h1>
                <br>
                <div th:each="listing : ${all}">


                    <h2>
                        <span th:text="${listing.foodName}"></span>
                    </h2>

                    <p><span th:text="${listing.donationDescription}"></span></p>

            </div>

            </div>



        </div>






    </div>


</body>
</html>