<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head"></head>
<body>
<nav th:replace="partials/topnav :: navbar">
</nav>

<div class="donate">

        <h1>Create Donation Listing</h1>
        <form th:action="@{/listings/create}" method="POST" th:object="${listing}" class="second-tier-container form">

                <label id="title">Type of Food <span class="require">*</span></label>
                <input th:field="*{foodName}" type="text" class="form-control" name="food_name" />

                <label id="body">Donation Description</label>
                <textarea th:field="*{donationDescription}" rows="4" class="form-control" name="donation_description"
                ></textarea>

                <div>
                        <label id="organization">Organization<span class="require">*</span></label>
                <div>
                        <select th:field="*{organization}">
                                <option th:each="organization : ${organizations}"
                                        th:text="${organization.getOrgName()}"
                                        th:value="${organization.getId()}">
                                 </option>
                        </select>
                </div>


                <label id="user">User ID <span class="require">*</span></label>
                <input th:field="*{user}" type="text" class="form-control" name="user" />

                <label id="exp-date">Expiration Date</label>
                <input th:field="*{expDate}" type="text" class="form-control"
                       name="organization" />

                <button type="submit" class="donate-btn">
                        Create
                </button>
                </div>
        </form>
        <br>
        <br>

</div>



<!--<footer th:replace="partials/footer :: footer">-->
<!--</footer>-->
<script th:replace="partials/script :: script">
</script>
</body>
</html>












