<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Edit Listing</title>
</head>
<body>

    <nav th:replace="partials/topnav :: navbar"></nav>

    <h1>Edit Listing</h1>
    <br>

    <form th:action="@{/listings/edit}" th:method="post" th:object="${listing}">
        <div class="form-group">
            <label id="food-name">Type of Food</label>
            <input th:field="*{foodName}" th:value="${listing.getFoodName()}" type="text" class="form-control"
            name="foodName" />
        </div>


        <div class="form-group">
            <label id="description">Donation Description</label>
            <textarea th:field="*{donationDescription}" th:value="${listing.getDonationDescription()}" rows="25"
                      class="form-control"
                      name="donationDescription"
            ></textarea>
        </div>

        <div class="form-group">
            <label id="food-amt">Amount</label>
            <input th:field="*{foodAmt}" th:value="${listing.getFoodAmt()}" type="text" class="form-control"
                   name="organization" />
        </div>

        <div class="form-group">
            <label id="exp-date">Expiration Date</label>
            <input th:field="*{expDate}" th:value="${listing.getExpDate()}" type="text" class="form-control"
                   name="organization" />
        </div>


        <div class="form-group">
            <input th:field="*{id}" th:value="${listing.getId()}" hidden>
            <!--/*@thymesVar id="getUserId" type=""*/-->
            <input th:field="*{user}" th:value="${currentUser.getUserId()}" hidden>
            <input th:field="*{organization}" th:value="${listing.getOrganization().getId()}" hidden>

<!--            <div class="form-group">-->
<!--                <label id="org-info">Organization</label>-->
<!--                <input th:field="*{organization}" th:value="${listing.getOrganization().getOrgName()}" type="text"-->
<!--                       class="form-control"-->
<!--                       name="organization" />-->
<!--            </div>-->

            <button type="submit" class="btn btn-primary">
                Submit
            </button>

        </div>

    </form>

    <footer th:replace="partials/footer :: footer"></footer>
    <script th:replace="partials/script :: script"></script>

</body>
</html>