<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Listing</title>
</head>
<body>
    <h1>Edit Listing</h1>
    <br>
    <form th:action="@{/listings/edit}" th:method="post" th:object="${listing}">
        <div class="form-group">
            <label id="food-name">Type of Food</label>
            <input th:field="*{foodName}" th:value="${listing.getFoodName()}" type="text" class="form-control"
            name="foodName" />
        </div>

        div class="form-group">
        <label id="org-info">Type of Food</label>
        <input th:field="*{organization}" th:value="${listing.getOrganization}" type="text" class="form-control"
               name="foodName" />
        </div>

        <div class="form-group">
            <label id="description">Donation Description</label>
            <textarea th:field="*{donationDescription}" th:value="${listing.getDonationDescription()}" rows="25"
                      class="form-control"
                      name="donationDescription"
            ></textarea>
        </div>
        <div class="form-group">
            <input th:field="*{id}" th:value="${listing.getId()}" hidden>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>


        </div>


    </form>

</body>
</html>