<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Donation Listings</title>
    <div th:replace="partials/head :: head"></div>
</head>
<body>
<br>
<nav th:replace="partials/topnav :: navbar">
</nav>

<div class="profile-header-holder underNav listingsHeader">
    <h1 class="profile-header headerStyles listingsPageHead">DONATION LISTINGS</h1>
</div>

<div class="card-container">
    <br>
    <div class="card-container-inner">
        <div th:each="listing : ${listings}">
            <div class="lstg-card-container">
                <div class="lstg-card">
                    <p><span th:text="${listing.getFoodName()}"></span></p>
                    <p><span th:text="${listing.getDonationDescription()}"></span></p>
                    <p><span th:text="${listing.getFoodAmt()}"></span></p>
                    <p><span th:text="${listing.getExpDate()}"></span></p>
                </div>
                <div class="more-info" th:text="${listing.getOrganization().getOrgName()}"></div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/footer :: footer">
</footer>
<script th:replace="partials/script :: script">
</script>

</body>
</html>