<div th:fragment="footer"> <!-- FOOTER FRAGMENT START -->

    <footer class="footer-area">
        <div class="second-tier-container footer-tier">

<!--            <div class="third-tier-container footer-top">-->
<!--                <div class="footer-cta-icon">-->
<!--                    <i class="fas fa-map-marker-alt"></i>-->
<!--                </div>-->
<!--                <div class="cta-text">-->
<!--                    <div class="heading">Find us</div>-->
<!--                    <div class="small-text">123 Main St, San Antonio, TX</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="third-tier-container footer-top">-->
<!--                <div class="footer-cta-icon"><i class="fas fa-phone"></i></div>-->

<!--                <div class="cta-text">-->
<!--                    <div class="heading">Call us</div>-->
<!--                    <div class="small-text">(210) 111-2222</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="third-tier-container footer-top">-->
<!--                <div class="footer-cta-icon">-->
<!--                    <i class="far fa-envelope-open"></i>-->
<!--                </div>-->
<!--                <div class="cta-text">-->
<!--                    <div class="heading">Email us</div>-->
<!--                    <div class="small-text">donate@cleanplate.com</div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="line"></div>-->

        <div class="second-tier-container footer-tier">

<!--            <div class="third-tier-container footer-mid">-->
<!--                <div class="footer-logo">-->
<!--                    <a href="/index">-->
<!--                        <img class="logo" th:src="@{/imgs/logo.png}">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="small-text">-->
<!--                    <p>We connect restaurants who have food to give with non-profit organizations who need food.</p>-->
<!--                </div>-->
<!--                <div class="footer-social-icon">-->
<!--                    <span class="heading">Visit our Github: </span>-->
<!--                    <a href="https://github.com/CleanPlateGuys/cleanplatehombres" target="_blank">-->
<!--                        <i class="fa-brands fa-github"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="third-tier-container footer-mid">-->
<!--                <div class="useful-links">-->
<!--                    <div class="heading">Useful Links</div>-->
<!--                </div>-->
<!--                <div class="sm-line"></div>-->
<!--                <div class="useful-links-individual">-->
<!--                    <div class="uli-left">-->
<!--&lt;!&ndash;                        <div><a class="small-text" href="#">Home</a></div>&ndash;&gt;-->
<!--                        <div><a class="small-text" href="/about">About us</a></div>-->
<!--                        <div><a class="small-text" href="/listings/create">Donate</a></div>-->
<!--                        <div><a class="small-text" href="/nonProfitIndex">Non-Profit</a></div>-->
<!--                        <div><a class="small-text" href="/restaurant">Restaurant</a></div>-->
<!--                    </div>-->

<!--                    <div class="uli-right">-->
<!--                        <div><a class="small-text" href="/contact">Contact</a></div>-->
<!--                        <div><a class="small-text" href="/login">Log in</a></div>-->
<!--                        <div><a class="small-text" href="/sign-up">Register</a></div>-->
<!--                        <div><a class="small-text" href="/profile">Profile</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="third-tier-container footer-mid">-->
<!--                <div class="about-project">-->
<!--                    <div class="heading">About our project</div>-->
<!--                </div>-->
<!--                <div class="sm-line"></div>-->

<!--                <div class="small-text">-->
<!--                    <p>-->
<!--                        A web application that uses Spring, Thymeleaf, and MySQL. Clean Plate Donations is the conduit between Restaurants who have food to donate and Non-Profit organizations who need food. Non-Profits will be able to post a-->
<!--                        listing requirement such as 10 loaves of bread and if a nearby restaurant is able to fulfill they will contact the Non-Profit. Technology utilized: Java EE, Spring Boot, Hibernate, HTML, CSS, and JavaScript.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

            <div class="copyright-area">
                <div class="small-text">
                    <br>
                    <p>Copyright &copy; 2022, All Right Reserved <a href="https://cleanplatedonations.xyz">Clean Plate Donations</a></p>
                </div>
            </div>
        </div>
    </footer>



</div> <!-- FOOTER FRAGMENT END -->
