<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer">
    <p class="social-title">Get connected with us on social networks:</p>

    <div class="footer-links-holder">

        <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>

        <a href=https://twitter"><i class="fa-brands fa-twitter-square"></i></a>

        <a href="https://google.com"><i class="fa-brands fa-google"></i></a>

        <a href="https://instagram.com"><i class="fa-brands fa-instagram-square"></i></a>

        <a href="https://linked.com"><i class="fa-brands fa-linkedin"></i></a>

        <a href="https://github.com"><i class="fa-brands fa-github"></i></a>

    </div>

    <div class="info-container">
        <div class="info">
            <div>
                <div class="info-one">Traveling Quote</div>
                <div>“Man cannot discover new oceans unless he has the courage to lose sight of the shore” – Andre Gide</div>
            </div>
        </div>

        <div class="info">
            <div class="info-two">Typical Amenities</div>
            <p>Breakfast</p>
            <p>Laundry</p>
            <p>Driver</p>
        </div>

        <div class="info">
            <div class="info-three">Local Sites</div>
            <p>Location 1</p>
            <p>Location 2</p>
            <p>Location 3</p>
        </div>

        <div class="info">
            <div class="info-four">Contact</div>
            <p>San Antonio, TX 78015, US</p>
            <p>info@padlister.com</p>
            <p>(210) 552-5522</p>
        </div>
    </div>

    <div class="copyright">
        © 2021 Copyright: <a href="/home">Padlister.com</a>
    </div>







</div>
</body>
</html>