<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>User Profile Edit</title>
    <div th:replace="partials/head :: head"></div>
</head>

<body>

<nav th:replace="partials/topnav :: navbar"></nav>

<div th:style="'background: url(/imgs/stayingSafe.png) no-repeat center center fixed;'" class="create-org-container">

<a class="pro-btn-link" th:href="@{/profile}">
    <button type="button" class="cancel-btn">Cancel</button>
</a>

    <div class="create-org-container-inner">
        <div class="login-register">

    <h1 id="text" class="">Edit Your Information</h1>

    <form th:action="@{/users/edit}" method="post" th:object="${user}">

        <input th:field="*{userId}" th:value="${user.getUserId()}" hidden>
        <input th:field="*{admin}" th:value="${user.getAdmin()}" hidden>

        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <div class="btn-pair">
            <span class="label-input">
                <button class="" type="submit">Submit</button>
            </span>
        </div>

    </form>

<!--    <form th:action="@{/users/edit}" method="post" th:object="${user}">-->
<!--        <input th:field="*{userId}" th:value="${user.getUserId()}" hidden>-->
<!--        <input th:field="*{admin}" th:value="${user.getAdmin()}" hidden>-->
<!--        <input th:field="*{username}" th:value="${user.getUsername}" hidden/>-->
<!--        <input th:field="*{email}" th:value="${user.getEmail()}" hidden/>-->
<!--        <input th:field="*{password}" type="password" th:value="${user.getPassword}" hidden/>-->
<!--        <div class="label-input"><button class="" type="submit">Cancel</button></div>-->
<!--    </form>-->



</div>

    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/script :: script"></script>

</body>
</html>