<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <div th:replace="partials/head :: head"></div>
</head>

<body>

    <nav th:replace="partials/topnav :: navbar"></nav>
    <div th:style="'background: url(/imgs/stayingSafe.png) no-repeat center center fixed;'" class="create-org-container">
        <div class="create-org-container-inner">

    <div class="login-register">
        <h1>Log In</h1>

        <div class="conditional" th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div class="conditional" th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <button class="login-register-btn" type="submit">Log In</button>
            <div class="small-text">Not yet registered? <a href="/sign-up">Register here</a></div>
        </form>
    </div>
        </div>
    </div>

    <footer th:replace="partials/footer :: footer"></footer>
    <script th:replace="partials/script :: script"></script>

</body>
</html>