<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <div th:replace="partials/head :: head"></div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body>
<nav th:replace="partials/topnav :: navbar"></nav>

<div class="profile-header-holder">

    <h2 class="profile-header">Organizations & Listings</h2>

</div>


<div id="profile-body">

    <div class="profile-left">

        <div class="profile-welcome">
            Welcome <!--/*@thymesVar id="getUsername" type=""*/--><span class="text-capitalize" th:text ="${#authentication.getPrincipal().getUsername()}"></span>
        </div>

        <p class="paragraph">
            <i class="fa-solid fa-user"></i> :   <!--/*@thymesVar id="getUsername" type=""*/--><span th:text ="*{#authentication.getPrincipal().getUsername()}"></span>
        </p>
        <p class="paragraph">
            <i class="fa fa-envelope"></i> :   <!--/*@thymesVar id="getEmail" type=""*/--><span th:text ="${#authentication.getPrincipal().getEmail()}"></span>
        </p>
<!--        <div th:if="${#authentication.getPrincipal().getAdmin()}">-->
<!--            <p class="paragraph">User Status: Admin</p>-->
<!--        </div>-->

        <!--User Profile Buttons-->
        <p><a th:href="@{/organizations/create}"><button type="button" class="profile-button">Create Organization</button></a></p>

        <p>
            <!--/*@thymesVar id="getUserId" type=""*/--><a th:href="@{'/users/edit/' + ${user.getUserId()}}"><button type="button" class="profile-button">Edit Profile</button></a>
        </p>

        <p><a th:href="@{'/users/delete/' + ${user.getUserId()}}"><button type="button" class="profile-button">Delete Profile</button></a></div>
    </p>

    <div class="profile-right">
        <!--right side profile-->
        <!--org header-->


        <th:block th:each="organization : ${organizations}">
            <!--/*@thymesVar id="getUserId" type=""*/-->
            <div class="org-listings-container" th:if="${organization.getUser().getUserId()} == ${#authentication.getPrincipal().getUserId()}">

                <!--org display-->
                <div class="org-card-container">

                    <div class="org-card">

                        <div class="org-info">
                            <!--<div th:src="${organization.getImages()}"></div>-->
                            <p><img class="org-img" th:src="@{${organization.getImages()}}" /></p>
                            <!--/*@thymesVar id="getOrgName" type=""*/-->
                            <p><b><span th:text="${organization.getOrgName()}"></span></b></p>
                            <p> <b>Description: <span th:text="${organization.getOrgDescription()}"></span></b></p>
                            <p><b>Address:</b></p>
                            <!--/*@thymesVar id="getOrgStAddress" type=""*/-->
                            <p><span th:text="${organization.getOrgStAddress()}"></span><br></p>

                            <div class="city-st-zip">

                                <p><!--/*@thymesVar id="getOrgCity" type=""*/-->
                                    <span th:text="${organization.getOrgCity()}"></span></p>

                                <p><!--/*@thymesVar id="orgState" type=""*/-->
                                    <span th:text="${organization.getOrgState()}"></span></p>

                                <p><!--/*@thymesVar id="getOrgZip" type=""*/-->
                                    <span th:text="${organization.getOrgZip()}"></span></p>

                            </div>
                        </div>
                        <div class="icons-holder-orgs">
                            <!-- Org buttons-->
                            <div><a th:href="@{'/organizations/edit/' + ${organization.getId()}}"><i
                                    class="fa-solid fa-pen-to-square icons"></i> </a></div>
                            <div><a th:href="@{'/organizations/delete/' + ${organization.getId()}}"><i class="fa-solid fa-trash-can icons"></i> </a></div>
                            <div><a th:href="@{/listings/create}" class="button"><i class="fa fa-plus icons" aria-hidden="true"></i> </a></div>
                        </div>

                    </div>



                </div>

                <!-- ORG CARD END -->

                <div class="card-container-inner">
                    <!--<div th:each="listing : ${listings}">-->
                    <th:block th:each="listing : ${listings}">
                        <div class="lstg-card-container">
                            <div class="lstg-card">
                                <p><span th:text="${listing.getFoodName()}"></span></p>
                                <p><span th:text="${listing.getDonationDescription()}"></span></p>
                                <p><span th:text="${listing.getFoodAmt()}"></span></p>
                                <p><span th:text="${listing.getExpDate()}"></span></p>
                            </div>
                            <div class="icons-holder">
                                <div><a th:href="@{'/listings/edit/' + ${listing.getId()}}"><i class="fa-solid fa-pen-to-square icons"></i> </a></div>
                                <div><a th:href="@{'/listings/delete/' + ${listing.getId()}}"><i class="fa-solid fa-trash-can icons"></i> </a></div>
                            </div>
                        </div>
                </div>
        </th:block>
    </div>
    <!-- PROFILE-LISTINGS-CONTAINER END -->
</div>
<!--end conditional if User owns orgs-->
</th:block><!--end foreach loop for all orgs-->
</div>
<!--end col-10-->
</div><!-- end body row-->


<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/script :: script"></script>
</body>
</html>










