<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>

<body>

<nav th:replace="partials/topnav :: navbar"></nav>

<div class="user-profile">

    <div class="profile-left">

        <h1 class="profile-welcome heading">Welcome
            <!--/*@thymesVar id="getUsername" type=""*/-->
            <span class="text-capitalize" th:text ="${#authentication.getPrincipal().getUsername()}"></span>!</h1>


        <h2 class="heading">Edit User Profile</h2>
        <p class="paragraph">Username: <!--/*@thymesVar id="getUsername" type=""*/-->
            <span th:text ="*{#authentication.getPrincipal().getUsername()}"></span></p>
        <p class="paragraph">Email: <!--/*@thymesVar id="getEmail" type=""*/-->
            <span th:text ="${#authentication.getPrincipal().getEmail()}"></span></p>
        <div th:if="${#authentication.getPrincipal().getAdmin()}">
            <p class="paragraph">User Status: Admin</p>
        </div>

        <div><button type="button" class="profile-button">Delete Profile</button></div>

    </div> <!--PROFILE LEFT END-->

    <div class="row"><!-- row 3-->
        <div class="col-6" >
            <h2 class="text-center font-weight-bold">Your Organizations</h2>
        </div>
        <div class="col-6">
            <h2 class="text-center font-weight-bold">Your Listings</h2>
        </div>
    </div><!--end row 3-->


    <div class="row"><!--row 4 (contains all orgs and all listings-->
        <div th:each="organization : ${organizations}">
            <!--/*@thymesVar id="getUserId" type=""*/-->
            <div th:if="${organization.getUser().getUserId()} == ${#authentication.getPrincipal().getUserId()}">

                <div class="row"> <!--row 4A (contains a single org's info and all of its listings)-->
                    <div class="col-6">
                        <div class="row">
                            <!--/*@thymesVar id="getOrgName" type=""*/-->
                            <h3 class="text-uppercase"><span th:text="${organization.getOrgName()}"></span></h3>

                            <p>Description: <span th:text="${organization.getOrgDescription()}"></span></p>
                            <p>Address:</p>
                            <p>
                                <!--/*@thymesVar id="getOrgStAddress" type=""*/-->
                                <span th:text="${organization.getOrgStAddress()}"></span><br>
                            </p>
                            <p>
                                <!--/*@thymesVar id="getOrgCity" type=""*/-->
                                <span th:text="${organization.getOrgCity()}"></span>
                                <!--/*@thymesVar id="orgState" type=""*/-->
                                <span th:text="${organization.getOrgState()}"></span>
                                <!--/*@thymesVar id="getOrgZip" type=""*/-->
                                <span th:text="${organization.getOrgZip()}"></span>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-4"><button type="button" class="btn btn-primary btn-sm d-inline">Edit</button></div>
                            <div class="col-4"><button type="button" class="btn btn-danger btn-sm d-inline">Delete</button></div>
                            <td><a th:href="@{'/organizations/edit/' + ${organization.getId()}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            <td><a th:href="@{'/organizations/delete/' + ${organization.getId()}}"><i class="fa-solid fa-trash-can"></i></a></i></td>
                            <div class="col-4"><button type="button" class="btn btn-success btn-sm d-inline">New Listing</button></div>
                        </div>
                    </div>

                    <div class="col">
                        <div th:each="listing : ${listings}">
                            <!--                        <p><span th:text="${organization.getUser()}"></span></p>-->
                            <!--                        <p><span th:text="${listing.getUser()}"></span></p>-->
                            <div th:if="${organization.getUser()} == ${listing.getUser()}">

                                <div class="row">
                                    <h2 class="text-uppercase"><span th:text="${listing.getFoodName()}"></span></h2>
                                    <p><span th:text="${listing.getDonationDescription()}"></span></p>
                                    <p><span th:text="${listing.getFoodAmt()}"></span></p>
                                    <p><span th:text="${listing.getExpDate()}"></span></p>
                                    <p><span th:text="${listing.getOrganization().getOrgName()}"></span></p>
                                </div>
                                <div class="row">
                                    <div class="col-4"><button type="button" class="btn btn-primary btn-sm d-inline">Edit</button></div>
                                    <div class="col-4"><button type="button" class="btn btn-danger btn-sm d-inline">Delete</button></div>
                                    <td><a th:href="@{'/listings/edit/' + ${listing.getId()}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                    <td><a th:href="@{'/listings/delete/' + ${listing.getId()}}"><i class="fa-solid fa-trash-can"></i></a></i></td>
                                    <div class="col-4"><button type="button" class="btn btn-success btn-sm d-inline">New Listing</button></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div> <!--end row 4-->



<!--    <div class="profile-main">-->
<!--        <div class="profile-main-edit-org">-->

<!--            <h2 class="heading">Edit Your Organizations</h2>-->
<!--            <table>-->
<!--                <div class="paragraph"><a href="#">create a listing</a></div>-->
<!--                <tr>-->
<!--                    <th>Organization Name</th>-->
<!--                    <th>Description</th>-->
<!--                    <th>Address</th>-->
<!--                    <th>Edit</th>-->
<!--                    <th>Delete</th>-->
<!--                </tr>-->

<!--                <div th:each="organization : ${organizations}">-->
<!--                    &lt;!&ndash;/*@thymesVar id="getUserId" type=""*/&ndash;&gt;-->
<!--                    <div th:if="${organization.getUser().getUserId()} == ${#authentication.getPrincipal().getUserId()}">-->
<!--                    <tr>-->
<!--                        <td><span th:text="${organization.getOrgName()}"></span></td>-->
<!--                        <td><span th:text="${organization.getOrgDescription()}"></span></td>-->
<!--                        <td><span th:text="${organization.getOrgStAddress()}"></span></td>-->
<!--                        <td><a href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>-->
<!--                        <td><a th:href="@{'/organizations/edit/' + ${organization.getId()}}"><i class="fa-solid fa-pen-to-square"></i></a></td>-->
<!--                        <td><a th:href="@{'/organizations/delete/' + ${organization.getId()}}"><i class="fa-solid fa-trash-can"></i></a></i></td>-->
<!--                    </tr>-->
<!--                </div>-->
<!--            </table>-->
<!--        </div>-->

<!--        <div class="profile-main-edit-listing">-->
<!--            <h2 class="heading">Edit Your Listings</h2>-->
<!--            <table>-->
<!--                <tr>-->
<!--&lt;!&ndash;                    <th>Org Name</th>&ndash;&gt;-->
<!--                    <th>Food Name</th>-->
<!--                    <th>Description</th>-->
<!--                    <th>Food Qty</th>-->
<!--                    <th>Exp. Date</th>-->
<!--                    <th>Recipient</th>-->
<!--                    <th>Edit</th>-->
<!--                    <th>Delete</th>-->
<!--                </tr>-->

<!--                <div th:each="listing : ${listings}">-->
<!--                    <div th:if="${organization.getUser()} == ${listing.getUser()}">-->
<!--                    <tr>-->
<!--                        <td><span th:text="${listing.getOrganization().getOrgName()}"></span></td>-->
<!--                        <td><span th:text="${listing.getFoodName()}"></span></td>-->
<!--                        <td><span th:text="${listing.getDonationDescription()}"></span></td>-->
<!--                        <td><span th:text="${listing.getFoodAmt()}"></span></td>-->
<!--                        <td><span th:text="${listing.getExpDate()}"></span></td>-->
<!--                        <td><span th:text="${listing.getOrganization().getOrgName()}"></span></td>-->
<!--                        <td><a th:href="@{'/listings/edit/' + ${listing.getId()}}"><i class="fa-solid fa-pen-to-square"></i></a></td>-->
<!--                        <td><a th:href="@{'/listings/delete/' + ${listing.getId()}}"><i class="fa-solid fa-trash-can"></i></a></i></td>-->
<!--                    </tr>-->
<!--                </div>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<script th:replace="partials/script :: script"></script>

</body>
</html>