


<!-- Footer -->
<div th:fragment="footer" >
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center ml-5 pt-5">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
    </section>
    <section class="d-flex justify-content-center mt-2 mb-3">
        <!-- Facebook -->
        <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://facebook.com"
                role="button"
                data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://twitter.com"
                role="button"
                data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://gmail.com"
                role="button"
                data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://instagram.com"
                role="button"
                data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://linkedin.com"
                role="button"
                data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://github.com"
                role="button"
                data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
        ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <div class="container p-2">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer text</h5>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                    aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer text</h5>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                    aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">CleanPlateDonations.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</div>
