<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Organization</title>
    <div th:replace="partials/head :: head"></div>
</head>

<body>
<nav th:replace="partials/topnav :: navbar"></nav>

<div th:style="'background: url(/imgs/stayingSafe.png) no-repeat center center fixed;'" class="create-org-container">

    <a class="pro-btn-link" th:href="@{/profile}">
        <button type="button" class="cancel-btn">Cancel</button>
    </a>

    <div class="create-org-container-inner">
        <div class="create-org">
            <h1>Create Organization</h1>
            <div class="add-img">
                <div>
                    <img alt="" width="200" height="200" class="donorPic">
                </div>
                <button class="upload">Upload Image</button>
            </div>
            <form th:action="@{/organizations/create}" method="POST" th:object="${organization}" id="create_org_form">
                <div class="label-input">
                    <label for="isDonor">
                        Organization Type
                    </label>
                    <!--                        <input type="checkbox" th:field="*{donor}" id="isDonor">-->
                    <select id="isDonor" name="donor">
                        <option value="true">Restaurant</option>
                        <option value="false">Non-Profit</option>
                    </select>
                </div>
                <div class="label-input">
                    <label for="name">Organization Name</label>
                    <input id="name" type="text" th:field="*{orgName}">
                </div>
                <div class="label-input">
                    <label for="description">Organization Description</label>
                    <input id="description" type="text" class="form-control" th:field="*{orgDescription}">
                </div>
                <div class="label-input">
                    <label for="address">Address</label>
                    <input id="address" type="text" th:field="*{orgStAddress}">
                </div>
                <div class="label-input">
                    <label for="city">City</label>
                    <input id="city" type="text" th:field="*{orgCity}">
                </div>
                <div class="label-input">
                    <label for="state">State</label>
                    <!--                    <select id="state" th:field="*{orgState}">-->
                    <select id="state" name="orgState">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX" selected="selected">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>

                <div class="label-input">
                    <label for="zip">Zip Code</label>
                    <!--                    <input th:field="*{orgZip}" type="text" class="form-control" placeholder="1" id="zip"/>-->
                    <input name="orgZip" type="text" class="form-control" id="zip"/>
                </div>
                <input th:field="*{user}" th:value="${organization.getUser()}" type="text" name="user" hidden>
                <input type="hidden" id="donorPicUrl" name="donorPicUrl" value="" th:field="*{images}">

                <div class="label-input">
                    <button class="" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>


<footer th:replace="partials/footer :: footer">
</footer>
<script th:replace="partials/script :: script">
</script>


<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

<script>
    const button = document.querySelector('.upload')
    const image = document.querySelector('#donorPicUrl')
    const image2 = document.querySelector('.donorPic')

    button.addEventListener('click', () => {
        const apiKey = 'AzWevRAKVQki1Rm9iW9CRz'
        const client = filestack.init(apiKey)
        const options = {
            accept: ['image/*'],
            onUploadDone: (uploadResponse) => {
                console.log("onUploadDone", uploadResponse);
                image.setAttribute('value', uploadResponse.filesUploaded[0].url)
                image2.setAttribute('src', uploadResponse.filesUploaded[0].url)

            },
        };
        client.picker(options).open();
    });
</script>

</html>