<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Organization</title>
    <div th:replace="partials/head :: head"></div>
</head>

<body>

<nav th:replace="partials/topnav :: navbar"></nav>

<div th:style="'background: url(/imgs/stayingSafe.png) no-repeat center center fixed;'" class="create-org-container">


    <div class="create-org-container-inner">
        <div class="edit-org">
<!--<div class="login-register">-->

    <h1>Edit Organization</h1>
            <br>

        <form th:action="@{'/organizations/edit/' + ${organization.getId()}}" method="POST" th:object="${organization}" class="second-tier-container form">

            <input th:field="*{id}" th:value="${organization.getId()}" hidden>
            <input th:field="*{images}" th:value="${organization.getImages()}" hidden>

            <div class="label-input">
                <label for="name" class="">Organization Name</label>
                <input id="name" type="text" class="" th:field="*{orgName}">
            </div>

            <div class="label-input">
                <label for="description" class="">Organization Description</label>
                <input id="description" type="text" class="" th:field="*{orgDescription}">
            </div>

            <div class="label-input">
                <label for="isDonor">
                    Organization Type
                </label>
                <!--                        <input type="checkbox" th:field="*{donor}" id="isDonor">-->
                <select id="isDonor" name="donor">
                    <option value="true">Restaurant</option>
                    <option value="false">Non-Profit</option>
                </select>
            </div>

            <div class="label-input">
                <label for="address">Address</label>
                <input id="address" type="text" th:field="*{orgStAddress}">
            </div>

            <div class="label-input">
                <label for="city">City</label>
                <input id="city" type="text" th:field="*{orgCity}">
            </div>

            <div class="label-input">
                <label for="state">State</label>
                <!--                    <select id="state" th:field="*{orgState}">-->
                <select id="state" class="form-select h4" th:field="*{orgState}">
<!--                <select id="state" name="orgState">-->
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX" >Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>

            <div class="label-input">
                <label for="zip" class="">Zip Code</label>
                <input id="zip" type="text" class="" th:field="*{orgZip}"/>
            </div>

            <div class="label-input">
                <button class="" type="submit">Submit</button>
            </div>
        </form>

            <div class="label-input">
                <a class="cancel-link" th:href="@{/profile}">Cancel
                    <!--    <button type="button" class="cancel-btn">Cancel</button>-->
                </a>
            </div>

</div>

</div><!--end of background picture-->

<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/script :: script"></script>
</body>
</html>












