<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<head>
    <meta charset="UTF-8">
    <title>Non-Profits</title>
    <div th:replace="partials/head :: head"></div>
<!--            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"-->
<!--                  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">-->
</head>
<body>
<nav th:replace="partials/topnav :: navbar">
</nav>
<div class="profile-header-holder underNav">
    <h1 class="profile-header headerStyles">OUR NON-PROFIT PARTNERS</h1>
</div>


<div class="container main-section">

    <!--                start-->
    <div>
    <section class="container-fluid" style="margin-top: 20px">
        <div class="mapbox">
            <div class="container-fluid" id='map' style='height: 400px; width: auto'>
                <div class="zoom-container text-center justify-content-center align-items-center" id="orgMark">
                </div>
            </div>
        </div>

<!--        <div class="buttons">-->
<!--            <div class="action_btn">-->
<!--            <button role="button" type="button" id="zoom15" value="zoom15">+</button>-->
<!--            </div>-->
<!--            <div class="action_btn">-->
<!--            <button role="button" type="button" id="zoom5" value="zoom5">-</button>-->
<!--            </div>-->
<!--        </div>-->
    </section>
    </div>

<div class="card-container">
    <div class="card-container-inner">
        <div th:each="organization : ${organizations}">
            <div th:if="${!organization.isDonor()}">

            <div class="lstg-card-container">
                <div class="lstg-card">
                    <div class="card_image"><img th:src="@{${organization.getImages()}}" /></div>
                    <p><span th:text="${organization.getOrgName()}"></span></p>
                    <p><span th:text="${organization.getOrgDescription()}"></span></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer.html :: footer">
</footer>
<script th:replace="partials/script.html :: script">
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    // console.log("Sanity confirmed");
    mapboxgl.accessToken = MAPBOX_KEY;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-98.4916, 29.4252],
        zoom: 7
    });
    var test = /*[[${organizations}]]*/ 'Test Default';
    // console.log(test);
    var orgName = test.map(({orgName}) => orgName)

    var address = test.map(({orgStAddress}) => orgStAddress)
    var city = test.map(({orgCity}) => orgCity)
    var state = test.map(({orgState}) => orgState)
    var zip = test.map(({orgZip}) => orgZip)

    function geocode(search, token) {
        var baseUrl = 'https://api.mapbox.com';
        var endPoint = '/geocoding/v5/mapbox.places/';
        return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
            .then(function (res) {
                return res.json();
                // to get all the data from the request, comment out the following three lines...
            }).then(function (data) {
                return data.features[0].center;
            });
    }

    function placeMarkerAndPopup(name, address, token, map) {
        geocode(address, token).then(function (coordinates) {
            var popup = new mapboxgl.Popup()
                .setHTML(
                    "<div style='max-width: 130px; display: flex;flex-wrap: wrap'> "+
                    "<h6 style='font-size: 15px'>" + name + "</h6>" +
                    "<p style='font-size: 10px'>" + address + "</p>"+ "</div>");
            var marker = new mapboxgl.Marker({ "color": "#ea3c3c" })
                    .setLngLat(coordinates)
                .addTo(map)
                .setPopup(popup);
            popup.addTo(map);
        });
    }

    for (var i = 0; i < test.length; i++) {
        var isDonor = test[i].donor
        var orgName = test[i].orgName
        var entireAddress = test[i].orgStAddress + ", " + test[i].orgCity + ", " + test[i].orgState + ", " + test[i].orgZip;
        if (!isDonor) {
            console.log(orgName);
            console.log(isDonor);
            console.log(entireAddress);
            placeMarkerAndPopup(orgName, entireAddress, MAPBOX_KEY, map)
        }
    }
    // Map Nav Controls
    map.addControl(new mapboxgl.NavigationControl());


    $(document).ready(function () {
        $(".removeMarkers").click(function () {
            $('marker').toggle()
        });
    });


    $(document).ready(function () {
        $('#zoom5').click(function (e) {
            map.flyTo({zoom: 5});
        });
        $(document).ready(function () {
            $('#zoom10').click(function (e) {
                map.flyTo({zoom: 10});
            });
            $(document).ready(function () {
                $('#zoom15').click(function (e) {
                    map.flyTo({zoom: 15});
                })
            });
        });
    });


    /*]]>*/
</script>
</body>
</html>