<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<head th:replace="partials/head.html :: head">
    <meta charset="UTF-8">
    <title>Organization Index</title>
</head>
<body>
<nav th:replace="partials/topnav.html :: navbar">
</nav>
<div class = "container">
    <div class = "row">
        <div class = "col">

            <h1> These are the Non-Profit listings</h1>

            <!--                start-->
            <section class="container-fluid" style="margin-top: 40px">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" id="input" type="search" placeholder="Enter by City" aria-label="Search">
                            </div>
                            <div class="col-2">
                                <button id="btn" class="form-control btn" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="margin-top: 10px">
                    <div class='mx-1 mt-3' id='map' style='height: 400px; width: auto'></div>
                    <pre id="coordinates" class="coordinates">
            </pre>
                </div>
                <div style="margin-top: -10px"><em>Drag pin to find temperatures in other cities*</em>
                </div>
                <!--                    <div class="five"  style="padding: 20px; display: flex; justify-content: center;">-->
                <!--                        <p>-->
                <!--                        <h3>Five day forecast: </h3>-->
                <!--                        <h3 id="locationPrinted" style="padding-left: 5px"></h3>-->
                <!--                    </div>-->
                <!--                    <div>-->
                <!--                        <div class="weatherBox row" id="insertWeatherBoxes"></div>-->
                <!--                    </div>-->
            </section>

            <!--                end-->
            <br>

            <!--                <div th:each="listing : ${listings}">-->
            <!--                    <h2>-->
            <!--                        <span th:text="${listings.food_name}"></span>-->
            <!--                    </h2>-->

            <!--                    <p><span th:text="${listings.donation_description}"></span></p>-->



            <div th:each="organization : ${organizations}">
                <div th:if="${!organization.isDonor()}">
                    <h2><span th:text="${organization.getOrgName()}"></span></h2>
                    <p><span th:text="${organization.getOrgDescription()}"></span></p>
                </div>






            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/footer.html :: footer">
</footer>
<script th:replace="partials/script.html :: script">
</script>
</body>
</html></title>
</head>
<body>

</body>
</html>