<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>

    <title>Organization Show</title>
</head>
<body>

<h1>This is the org show page</h1>

<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->




<body>
<!--<nav th:replace="partials/topnav.html :: navbar">-->
<!--</nav>-->
<!--<div th:replace="partials/header.html :: site-header"></div>-->

<!--<h3 th:text="${orgTitle}"></h3>-->
<!--<p class="fs-6 text-muted">Written by: <span th:text="${user.getUsername()}" class="fst-italic"></span></p>-->
<!--<p th:text="${postBody}"></p>-->

<!--<div th:replace="partials/footer.html :: site-footer"></div>-->
<!--<div th:replace="partials/scripts.html :: site-scripts"></div>-->

</body>
</html>