<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head>-->
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Organization Index</title>
    <style>
        .mapMarker {
            background-image: url('https://i.ibb.co/bJz3x34/H3-Map-Logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 65px;
            height: 75px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<nav th:replace="partials/topnav :: navbar">
</nav>

<div class="container">
    <!--        <h1> These are the Restaurant listings</h1>-->
    <!--                start-->
    <section class="container-fluid" style="margin-top: 40px">
        <div class="mapbox">
            <div class="container-fluid" id='map' style='height: 400px; width: auto'>
                <div class="zoom-container text-center justify-content-center align-items-center" id="orgMark">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-light col" id="zoom5" value="zoom x 5">Zoom 5</button>
                <button type="button" class="btn btn-light col" id="zoom10" value="zoom x 10">Zoom 10</button>
                <button type="button" class="btn btn-light col" id="zoom15" value="zoom x 15">Zoom 15</button>
            </div>
        </div>
    </section>

    <div class="main">

        <ul class="listing-cards">
            <li class="cards_item">
                <div class="card">
                    <div th:each="organization : ${organizations}">
                        <div th:if="${organization.isDonor()}">
                            <div class="card_image"><img th:src="@{/imgs/burger.jpg}"/></div>
                            <div class="card_content">
                                <h2 class="card_title"><span th:text="${organization.getOrgName()}"></span></h2>
                                <p class="card_text"><span th:text="${organization.getOrgDescription()}"></span></p>
                                <p class="card_text"><span th:text="${organization.getOrgStAddress()}"></span></p>
                                <p class="card_text"><span th:text="${organization.getOrgCity()}"></span></p>
                                <p class="card_text"><span th:text="${organization.getOrgState()}"></span></p>
                                <p class="card_text"><span th:text="${organization.getOrgZip()}"></span></p>
                                <button class="btn card_btn">full description here</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<footer th:replace="partials/footer.html :: footer"></footer>
<script th:replace="partials/script.html :: script"></script>


<script th:inline="javascript">
    /*<![CDATA[*/
    mapboxgl.accessToken = MAPBOX_KEY;
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [-98.4916, 29.4252],
        zoom: 7
    });
    var test = /*[[${organizations}]]*/ 'Test Default';
    // console.log(test);
    var orgName = test.map(({orgName}) => orgName)
    var isDonor = test.map(({isDonor}) => isDonor)

    var address = test.map(({orgStAddress}) => orgStAddress)
    var city = test.map(({orgCity}) => orgCity)
    var state = test.map(({orgState}) => orgState)
    var zip = test.map(({orgZip}) => orgZip)


    function geocode(search, token) {
        var baseUrl = 'https://api.mapbox.com';
        var endPoint = '/geocoding/v5/mapbox.places/';
        return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
            .then(function (res) {
                return res.json();
                // to get all the data from the request, comment out the following three lines...
            }).then(function (data) {
                return data.features[0].center;
            });
    }


    function placeMarkerAndPopup(name, address, token, map) {
        geocode(address, token).then(function (coordinates) {
            var popup = new mapboxgl.Popup()
                .setHTML("<h6 style='max-width: 150px'>" + name + "</h6>" + "<p>" + address + "</p>");
            var marker = new mapboxgl.Marker()
                .setLngLat(coordinates)
                .addTo(map)
                .setPopup(popup);
            popup.addTo(map);

        });

    }

    for (var i = 0; i < test.length; i++) {
        if (test.donor === 'true') {

        }

        console.log(orgName);
        var isDonor = test[i].donor
        console.log(isDonor);

        var orgName = test[i].orgName
        var entireAddress = test[i].orgStAddress + ", " + test[i].orgCity + ", " + test[i].orgState + ", " + test[i].orgZip;
        console.log(entireAddress);

        placeMarkerAndPopup(orgName, entireAddress, MAPBOX_KEY, map)

    }
    // Map Nav Controls
    map.addControl(new mapboxgl.NavigationControl());


    $(document).ready(function () {
        $(".removeMarkers").click(function () {
            $('marker').toggle()
        });
    });

    $(document).ready(function () {
        $('#zoom5').click(function (e) {
            map.flyTo({zoom: 5});
        });
        $(document).ready(function () {
            $('#zoom10').click(function (e) {
                map.flyTo({zoom: 10});
            });
            $(document).ready(function () {
                $('#zoom15').click(function (e) {
                    map.flyTo({zoom: 15});
                })
            });
        });
    });


    /*]]>*/
</script>


</body>
</html>