<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>

<body>
<nav th:replace="partials/topnav :: navbar"></nav>
<div class="about">
    <div class="about-project-container">
        <div class="ap-sub-container">

            <div class="about-project-left">
                 <img class="safe-img" th:src="@{/imgs/stayingSafe.png}">
<!--                <img src="/src/main/resources/static/imgs/stayingSafe.png" alt="">-->

            </div>
            <div class="about-project-right">
                <div class="heading label-input">About our project</div>
                <div class="team-line label-input"></div>
                <div class="paragraph label-input">A web application that uses Spring, Thymeleaf, and MySQL. Clean Plate Donations is the conduit between Restaurants who have food to donate and Non-Profit organizations who need food. Non-Profits will be able to post a listing requirement such as 10 loaves of bread and if a nearby restaurant is able to fulfill they will contact the Non-Profit. Technology utilized: Java EE, Spring Boot, Hibernate, HTML, CSS, and JavaScript.</div>
            </div>
        </div>
    </div>
    <!-- THE TEAM -->
    <div class="team-heading">MEET THE CLEAN PLATE GUYS</div>
    <div class="team-cards">
        <div class="team-card">
            <div ><img class="p-img" th:src="@{/imgs/derek.jpeg}" alt="d_berkley"></div>
            <div class="heading">Derek Berkley</div>
            <div class="team-line"></div>
            <div class="paragraph">Responsible for database design, security configuration, and entity CRUD operations.</div>
        </div>
        <div class="team-card">
            <div ><img class="p-img" th:src="@{/imgs/jon.jpeg}" alt="j_lee"></div>
            <div class="heading">Jon Lee</div>
            <div class="team-line"></div>
            <div class="paragraph">Responsibilities go here.</div>
        </div>
        <div class="team-card">
            <div ><img class="p-img" th:src="@{/imgs/carlos.jpeg}" alt="c_chavira"></div>
            <div class="heading">Carlos Chavira</div>
            <div class="team-line"></div>
            <div class="paragraph">Front-end and filestack API. I will make it more verbose as I think of stuff</div>
        </div>
        <div class="team-card">
            <div ><img class="p-img" th:src="@{/imgs/m_kestler_headshot_sm.jpeg}" alt="m_kestler"></div>
            <div class="heading">Michael Kestler</div>
            <div class="team-line"></div>
            <div class="paragraph">Responsibilities go here.</div>
        </div>
    </div>
</div>
</body>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/script :: script"></script>
</html>




