<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Clean Plate Donations</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- CSS STYLE SHEET -->
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />

    <head th:replace="partials/head :: head">
    </head>
</head>
<body>
<nav th:replace="partials/topnav :: navbar">
</nav>

<h1>Contact Us</h1>

<div id="after_submit"></div>
<form th:action="@{/contact}" method="POST" th:object="${user}">
    <div>
        <label class="required" for="name">Your name:</label><br />
        <input id="name" class="input" name="name" type="text" value=""
               size="30" /><br />
        <span id="name_validation" class="error_message"></span>
    </div>
    <div>
        <label class="required" for="email">Your email:</label><br />
        <input th:field="*{email}" th:value="${user.getEmail()}" id="email" class="input" name="email"
               type="text" value="" size="30" /><br />
        <span id="email_validation" class="error_message"></span>
    </div>
    <div>
        <label class="required" for="message">Your message:</label><br />
        <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    </div>

    <input id="submit_button" type="submit" value="Send email" />
</form>

<footer th:replace="partials/footer :: footer">
</footer>
<script th:replace="partials/script :: script">
</script>
</body>
</html>