
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head">
    <meta charset="utf-8">
    <title>Clean Plate Donations</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- CSS STYLE SHEET -->
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />



</head>
<body>
<nav th:replace="partials/topnav :: navbar">
</nav>

<div class="hero-section">
    <img class="hero-img" th:src="@{/imgs/landingPage.jpg}">
    <div class="hero-wrapper">
        <h1 class="hero-heading">BECOME A <span class="text-span-2">CLEAN PLATE</span> PARTNER</h1>
        <div class="hero-button-container">

            <div class="hero-button-wrapper">
                <a href="/sign-up" class="hero-button">GET STARTED NOW</a>
            </div>

        </div>
    </div>
</div>
<!-- SUPPORT SECTION -->
<div class="support-section">
    <div class="container">
        <div class="support-top-wrapper">
            <div class="support-top-left">
                <div class="support-top-details-text"></div>
                <h2 class="support-top-heading">Ways to participate on <br>Clean Plate</h2>
            </div>
            <div class="support-top-right">
                <p>Clean Plate is a non-profit organization that is a conduit between restaurants who have food to give and organizations that need food.</p>
            </div>
        </div>
        <!-- SUPPORT CARDS -->
        <div class="support-wrapper">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">01</div>
                    <div class="support-square-text">REGISTER</div>
                </div>
                <p>Register for an account is easy. Get started with basic organization demographics.</p>
            </div>
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">02</div>
                    <div class="support-square-text">DONATE FOOD</div>
                </div>
                <p>Once logged in you will be able to create a single listing or multiple listings.</p>
            </div>
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">03</div>
                    <div class="support-square-text">MANAGE</div>
                </div>
                <p>After placing your donation. You will be able to manage your listings from you organization profile. </p>
            </div>
        </div>
    </div>
</div>
<!-- KEEPING SAFE SECTION -->
<div class="safe-section">
    <img class="safe-img" th:src="@{/imgs/stayingSafe.png}">
    <div class="container">
        <div class="safe-wrapper">
            <h2 class="safe-heading">WORKING & STAYING SAFE DURING COVID-19<br><br></h2>
            <p class="safe-paragraph">Taking every safety precaution is our number one priority when working with our partners. </p>
            <div class="safe-button-wrapper">
                <a href="/learn-more" class="safe-button">learn more</a>
            </div>
        </div>
    </div>
</div>
<!-- MOST RECENT 3 LISTINGS (BASED ON ID, WORK BACKWARDS(DECREMENT) THE SORT) -->
<div class="main">
<!--    <div th:each="listing : ${listings}">-->
        <!--                    <h2>-->
        <!--                        <span th:text="${listings.food_name}"></span>-->
        <!--                    </h2>-->
        <!--                    <p><span th:text="${listings.donation_description}"></span></p>-->
    <ul class="listing-cards">
        <li class="cards_item">
            <div class="card">
                <!--                    <div class="card_image"><img src="/img/burger.jpg"></div>-->
                <div class="card_image"><img th:src="@{/imgs/burger.jpg}"></div>
                <div class="card_content">
                    <h2 class="card_title">BURGERS-R-US </h2>
                    <p class="card_text">Location: north <br>Food donated: 15 meal boxes </p>
                    <button class="btn card_btn">full description here</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <!--                    <div class="card_image"><img src="/img/pizza.jpg"></div>-->
                <div class="card_image"><img th:src="@{/imgs/pizza.jpg}"></div>
                <div class="card_content">
                    <h2 class="card_title">PIZZA BY FIRE</h2>
                    <p class="card_text">Location: north west <br>Food donated: 50 pizza's (sm to large) </p>
                    <button class="btn card_btn">full description here</button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <!--                    <div class="card_image"><img src="img/taco.jpg"></div>-->
                <div class="card_image"><img th:src="@{/imgs/taco.jpg}"></div>
                <div class="card_content">
                    <h2 class="card_title">GRANDMA'S KITCHEN</h2>
                    <p class="card_text">Location: downtown <br>Food donated: 75 taco's </p>
                    <button class="btn card_btn">full description here</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<footer th:replace="partials/footer :: footer">
</footer>
<script th:replace="partials/script :: script">
</script>

</body>






</html>